services:
  mysql:
    image: mysql:8.0
    container_name: backend-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: demishuaccha/tingeso-m:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    environment:
      - DB_URL=${DB_URL}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy

  nginx:
    build: ./nginx
    ports:
      - "8090:80"
    depends_on:
      - backend
    volumes:
      - ./target/site/jacoco:/usr/share/nginx/html/jacoco

    deploy:
      restart_policy:
        condition: on-failure

volumes:
  mysql_data:
